@font-face {
    src: url("Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.woff2") format("woff2");
    font-family: 'Commissioner';
    font-style: normal;
    font-weight: normal;
}

body {
    background-color: rgb(83, 122, 199);
    font-family: 'Commissioner', sans-serif;
    color: white; /* Set text color to white */
}
/* how the page wrapper will appear on mobile */
.page-wrapper{
    width: min(100% - 3rem, 80ch);
    margin-inline: auto;
}
/* how the page wrapper appears on desktop */

@media only screen and (min-width:800px){
/* .page-wrapper{
display: grid;
grid-gap: 25px;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
    "h v"
    "a a";
} */

.history {
grid-area: h;
}

.variations{
grid-area: v;
}

.alphabet {
grid-area: a;
}
}
/* CSS for the footer */
footer {
    background-color: rgb(231, 231, 246);
    color: rgb(83, 122, 199); /* Set text color to light blue */
    font-size: 1.5em; /* Increase font size */
    padding: 20px; /* Add padding for a larger appearance */
    text-align: center; /* Center-align the footer content */
}

/* variable font animation */
h3{
    font: weight 30px;; 
    text-align: center;
    font-size: 5em;
    animation: weightChange 7s infinite;
}

@keyframes weightChange {
    0%, 100%{
        font-variation-settings: "wght" 400, "slnt" 0, "FLAR" 0, "VOLM" 0;
    }
    50%{font-variation-settings:  "wght" 900, "slnt" -12, "FLAR" 100, "VOLM" 100; 
    }
    
}
/* variable font that changes on hover */
.variable-font{
    font-weight:1 ;
    height:100vh;
    font-size: 10em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 40, "wdth" 0, "XXXX" 1;
    transition: 
        font-weight 500ms,
        font-variation-settings 3s;
}

.variable-font:hover{
    font-weight:500 ;
    height:100vh;
    font-size: 7em;
    display:grid;
    place-content: center;
    margin: 0;
    text-align: center;
    font-variation-settings: "wght" 120, "wdth" 0, "XXXX" 100;
}

.weight{
    animation: weightAnimation 7s infinite;
    font-size: xx-large; 

}


@keyframes weightAnimation {
    0%, 100%{
        font-variation-settings: "wght" 400, "slnt" 0, "FLAR" 0, "VOLM" 0;
    }
    50%{font-variation-settings:  "wght" 900, "slnt" 0, "FLAR" 0, "VOLM" 0; 
    }
    
}
.volume{    
    animation: volumeAnimation 7s infinite;
    font-size: xx-large;
}


@keyframes volumeAnimation {
    0%, 100%{
        font-variation-settings: "wght" 500, "slnt" 0, "FLAR" 0, "VOLM" 0;
    }
    50%{font-variation-settings:  "wght" 900, "slnt" 0, "FLAR" 0, "VOLM" 100; 
    }
    
}



.slant{
    animation: slantAnimation 7s infinite;
    font-size: xx-large;
}


@keyframes slantAnimation {
    0%, 100%{
        font-variation-settings: "wght" 400, "slnt" 0, "FLAR" 0, "VOLM" 0;
    }
    50%{font-variation-settings:  "wght" 500, "slnt" -12, "FLAR" 0, "VOLM" 0; 
    }
    
}
.flare{
    animation: flareAnimation 7s infinite;
    font-size: xx-large;
}


@keyframes flareAnimation {
    0%, 100%{
        font-variation-settings: "wght" 400, "slnt" 0, "FLAR" 0, "VOLM" 0;
    }
    50%{font-variation-settings:  "wght" 600, "slnt" 0, "FLAR" 100, "VOLM" 0; 
    }
    
}
/* 
.stars-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
    margin: 0 auto;
    width: 80%;
    height: 80%;
} */

.download-button {
    background-color: rgb(166, 19, 19);
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 15px 30px;
    margin-left: 75%;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 25px 8px 9px rgba(68, 16, 16, 0.8);
}

/* star animation */

.hero-section {
    position: relative; /* This makes the .moving-star move relative to this container */
    overflow: hidden; /* Prevents the star from showing outside the container */
  }
  
  /* Keyframes for moving the star */
  @keyframes moveAcross {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(3000%);
    }
  }
  
  /* Apply animation to the star */
  .moving-star {
    animation: moveAcross 5s linear infinite;
    position: absolute; /* Ensure it moves relative to the parent container */
    top: 50%; /* Center vertically within the parent container */
    left: 0; /* Start from the left edge of the parent container */
    transform: translateY(-50%); /* Adjust for vertical centering */
    width: 50px; /* Adjust the size of the star */
    height: auto;
  }
  .moving-star-faded {
    animation: moveAcross 6s linear infinite; /* Slightly slower animation for variation */
    position: absolute;
    top: 45%; /* Slightly lower than the first star */
    left: 0;
    transform: translateY(-50%);
    width: 50px; /* Slightly smaller size */
    height: auto;
    opacity: 0.6; /* Faded appearance */
  }
  .moving-star-faded2 {
    animation: moveAcross 7s linear infinite; /* Slightly slower animation for variation */
    position: absolute;
    top: 30%; /* Slightly lower than the first star */
    left: 0;
    transform: translateY(-50%);
    width: 50px; /* Slightly smaller size */
    height: auto;
    opacity: 0.75; /* Faded appearance */
  }
  .moving-star-faded3 {
    animation: moveAcross 9s linear infinite; /* Slightly slower animation for variation */
    position: absolute;
    top: 40%; /* Slightly lower than the first star */
    left: 0;
    transform: translateY(-50%);
    width: 50px; /* Slightly smaller size */
    height: auto;
  }
  .moving-star-faded4 {
    animation: moveAcross 5.5s linear infinite; /* Slightly slower animation for variation */
    position: absolute;
    top: 25%; /* Slightly lower than the first star */
    left: 0;
    transform: translateY(-50%);
    width: 50px; /* Slightly smaller size */
    height: auto;
    opacity: 0.6; /* Faded appearance */
  }
  .moving-star-faded5 {
    animation: moveAcross 5s linear infinite; /* Slightly slower animation for variation */
    position: absolute;
    top: 10%; /* Slightly lower than the first star */
    left: 0;
    transform: translateY(-50%);
    width: 40px; /* Slightly smaller size */
    height: auto;
    opacity: 0.8; /* Faded appearance */
  }
  .moving-star-faded6 {
    animation: moveAcross 6.5s linear infinite; /* Slightly slower animation for variation */
    position: absolute;
    top: 15%; /* Slightly lower than the first star */
    left: 0;
    transform: translateY(-50%);
    width: 40px; /* Slightly smaller size */
    height: auto;
    opacity: 0.8; /* Faded appearance */
  }
  .moving-star-faded7 {
    animation: moveAcross 9.5s linear infinite; /* Slightly slower animation for variation */
    position: absolute;
    top: 10%; /* Slightly lower than the first star */
    left: 0;
    transform: translateY(-50%);
    width: 40px; /* Slightly smaller size */
    height: auto;
    opacity: 0.3; /* Faded appearance */
  }